<html>
  <head>

    <meta charset="utf-8">
    <title>Butternut Squishies Grocery Store</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/account.css">

    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>

  </head>
  <body>
    <h2 class="browerPref">USE GOOGLE CHROME</h2>
    <h1 class ="storeTitle" >Butternut Squishies Grocery Store</h1>
    <ul class="nav">
        <li><a class="tab" href="/">Home</a></li>
        <li><a class="tab" href="departments">Departments</a></li>
        <li><a class="active tab" href="accounts">Account</a></li>
        <li><a class="tab" href="admin">Admin</a></li>
        <li><a class ="checkoutBox" href="checkout">Check Out</a></li>
    </ul>

    <div>
        <h1 class="title">Account Information</h1>
      </div>
        <form class="customerFormUpdate" method="post">
          <fieldset>
            <input type="hidden" name="customer_id" value={{customer_id}}>
            <div>Name: {{custInfo.name}}</div>

          </fieldset>
        </form>
        <form class="customerFormUpdate">
          <fieldset>
            <div>Email: {{custInfo.email}}</div>

          </fieldset>
        </form>
        <form class="customerFormUpdate">
          <fieldset>
            <div>Street: {{custInfo.street_address}}</div>

          </fieldset>
        </form>
        <form class="customerFormUpdate">
        <fieldset>
            <div>City: {{custInfo.city}}</div>

        </fieldset>
        </form>
        <form class="customerFormUpdate">
        <fieldset>
            <div>State: {{custInfo.state}}</div>

        </fieldset>
        <fieldset>
            <div>ZipCode: {{custInfo.zipcode}}</div>

        </fieldset>
         <fieldset>
            <div>Phone: {{custInfo.phone}}</div>

        </fieldset>
        </form>
        <div>
          <h2 class="title"> Orders </h2>
    <table class ="products-table">
      <thead>
        <tr>
          <th class ="thead">OrderID </th>
          <th class ="thead">Order Status </th>
          <th class ="thead">Order Date </th>
          <th class ="thead">Received Date</th>
          <th class ="thead">Delivery Method</th>
          <th class ="thead">Note</th>
          <th class ="thead">Shipped-Date</th>
          <th class ="thead">Order Total</th>
        </tr>
      </thead>
      {{#each custOrders}}
        <tr>
          <td class ="itemsbox">{{order_id}}</td>
          <td class ="thead">{{order_status}}</td>
          <td class ="thead">{{order_date}}</td>
          <td class ="thead">{{received_date}}</td>
          <td class ="thead">{{delivery_method}}</td>
          <td class ="thead">{{note}}</td>
          <td class ="thead">{{shipped_date}}</td>
          <td class ="thead">{{order_total}}</td>
        </tr>

      {{/each}}
</table>
<br>
      </div>


  </body>
</html>
