<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Butternut Squishies Grocery Store</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/admin.css">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>

  </head>
  <body>

    <h1 class ="storeTitle" >Butternut Squishies Grocery Store</h1>
      <li class="registerButtonSection" ><a class="register" href="register">Register</a></li>
    <ul class="nav">
        <li><a class="tab" href="/">Home</a></li>
        <li><a class="tab" href="/departments">Departments</a></li>
        <li><a class="tab" href="accounts">Account</a></li>
        <li><a class="active tab" href="admin">Admin</a></li>
        <li><a class ="checkoutBox" href="checkout">Check Out</a></li>
    </ul>

    <form action="/admin" method="post">
    <h2>Add New Department</h2>
      <fieldset>
        <div><label > Department Name:
          <input type ="text" max="254" name="dept_name" id="newDepartment">
        </label></div>
        <input type="submit" value="add department" id="addDepartment">
      </fieldset>
    </form>


    <br>
    <table>
      <th>Department Id</th>
      <th>Department Name</th>

      {{#each departments}}
      <tr>
        <td>{{department_id}}</td>
        <td>{{name}}</td>
        </tr>
      {{/each}}
    </table>

    <form action="/admin" method="post">
     <h2>Add New Product</h2>
      <fieldset>
        <div><label >Product Name:
          <input type ="text" max="254" name="prod_name" id="newProduct">
        </label>
        <label>
        Price <input type="number" min="0.00" step="0.01" max="1000.00" name="price" id="priceInput"> <br>
        </label>
        </div>
        <div>
        Select Department:<br>
         {{#each departments}}
        <input type="radio" name="dept_id" value={{department_id}}>{{name}}<br>
          {{/each}}

        </div>
        <input type="submit" value="add product" id="addProduct">
      </fieldset>
    </form>


    <h2 class="title1">Update/Delete Products</h2>
    <table>
      <caption>Products<caption>
      <thead>
        <tr>
          <th> Product Id </th>
          <th> Name </th>
          <th> Description </th>
          <th> Department </th>
          <th> Price </th>
          <th> Quantity/Stock </th>
          <th> Sale </th>
          <th> Limit</th>

          <th> Image Path </th>
          <th> Update </th>
          <th> Delete </th>
        </tr>
      </thead>
        {{#each products }}
        <tr>
          <td>{{product_id}}</td>
          <td>{{name}}</td>
          <td>{{description}}</td>
          <td>{{department}}</td>
          <td>{{price}}</td>
          <td>{{stock}}</td>
          <td>{{sale}}</td>
          <td>{{limit}}</td>
          <td>{{image_path}} </td>
          <td>

              <a text-decoration="none" style="text-decoration:none" href="/updateProducts/{{product_id}}" name= "prodID">Update</a> 
              <input type ="hidden" value ={{product_id}}>

            </form>

          </td>
          <td>
            <form action="/admin" method="post">
            <input type="hidden" name= "product_id" value={{product_id}}>
              <input class="button" type="submit" value="delete">
            </form>
          </td>
        </tr>
        {{/each}}

    </table>

    <h2 class="title1">Update/Delete Orders</h2>
    <table>
      <caption>Orders<caption>
      <thead>
        <tr>
          <th>OrderID </th>
          <th>Customer Name</th>
          <th>Order Status </th>
          <th>Order Date </th>
          <th>Recieved Date</th>
          <th>Delivery Method</th>
          <th>Note</th>
          <th>Shipped-Date</th>
          <th>Order Total</th>
          <th>Update </th>
          <th>Delete </th>
        </tr>
      </thead>
      {{#each orders}}
        <tr>
          <td>{{order_id}}</td>
          <td>{{name}}</td>
          <td>{{order_status}}</td>
          <td>{{order_date}}</td>
          <td>{{received_date}}</td>
          <td>{{delivery_method}}</td>
          <td>{{note}}</td>
          <td>{{shipped_date}}</td>
          <td>{{order_total}}</td>
          <td>
            <form>
              <input type="button" value="update">
            </form>
          </td>
          <td>
            <form action="/admin" method="post">
            <input type="hidden" name="order_id" value={{order_id}}>
              <input class="button" type="submit" value="delete">
            </form>
          </td>
        </tr>
        {{/each}}

    </table>

     <h2 class="title1">Delete Customer</h2>
    <table>
      <caption>Customers<caption>
      <thead>
        <tr>
          <th> Customer ID </th>
          <th> Customer Name</th>
          <th> Email </th>
          <th> Address</th>
          <th> City</th>
          <th> State</th>
          <th> Zip</th>
          <th> Phone</th>
          <th> Delete </th>
        </tr>
      </thead>
      {{#each customers}}
        <tr>
          <td>{{customer_id}}</td>
          <td>{{name}}</td>
          <td>
            <div>
              {{email}}
            </div>
          </td>
           <td>{{street_address}}</td>
           <td>{{city}}</td>
           <td>{{state}}</td>
           <td>{{zipcode}}</td>
           <td>{{phone}}</td>

          <td>
            <form action="/admin" method="post">
            <input type="hidden" name= "customer_id" value={{customer_id}}>
              <input class="button" type="submit" value="delete">
            </form>
          </td>
        </tr>
        {{/each}}


    </table>





  </body>
</html>
