<html>
  <head>
    <meta charset="utf-8">
    <title>Butternut Squishies Grocery Store</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/admin.css">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet'>
  </head>
  <body>
    <h1 class ="storeTitle" >Butternut Squishies Grocery Store</h1>
    <ul class="nav">
        <li><a class="tab" href="/">Home</a></li>
        <li><a class="tab" href="/departments">Departments</a></li>
        <li><a class="tab" href="accounts">Account</a></li>
        <li><a class="tab" href="admin">Admin</a></li>
        <li><a class ="active checkoutBox" href="checkout">Check Out</a></li>
    </ul>

   <h2 class="title1">Cart</h2>

   <form class="cart formCart" action="/buy" method="post">
    <table class="cart">
      <thead>
        <tr>
          <th> Product </th>
          <th> Quantity </th>
          <th> Unit Price($)</th>
          <th> Subtotal($) </th>
        </tr>
      </thead>
       {{#each details}}
        <tr>
          <td>{{name}}</td>
          <td>{{quantity}}</td>
          <td>{{unit_price}}</td>
          <td>{{subtotal}}</td>
        </tr>
        {{/each}}
    </table>

      <h2 class="cart"  >Total: ${{total}} <input type="hidden" name="total" value ={{total}}></h2>

      <br>
      <label>note</label><br>
      <input type="text" rows="4" cols="50" name="note" >
      <br>
      <input class="cart" type="submit" value="checkOut" >
      </form>

      <h2>{{message}}</h2>

  </body>
</html>
